html {
  --main-blue-color: #00adb5;
  --light-blue-color: rgba(0, 203, 214, 0.5);
  --main-red-color: #b53000;
  --light-red-color: #dd3c0185;
  --main-gray-color: #393e46;
}

::selection {
  color: #00adb5;
}
html,
body,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px, 10px/16px = 62.5% */
  font-size: 62.5%;
}

@media screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 335px) {
  html {
    font-size: 45%;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-color: #222831;
  color: #eeeeee;
}

@media screen and (max-width: 425px) {
  body {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 335px) {
  body {
    font-size: 2.2rem;
  }
}

.header {
  position: absolute;
  top: 1rem;
}

.heading {
  text-transform: uppercase;
  font-weight: normal;
}

.btn,
#fieldSize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  margin: 0 .4rem;
  border: none;
  color: #e8ded2;
  border-radius: 1px;
  background-color: var(--main-gray-color);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 0px 5px 4px var(--light-blue-color);
}

.btn:hover:disabled {
  box-shadow: 0px 0px 5px 4px var(--light-red-color);
}

.cheat {
  padding: 0 .4rem;
}

.save,
.load {
  background-color: var(--main-gray-color);
}

.sound {
  background-color: var(--main-red-color);
}

.btn-on,
.new-game {
  background-color: var(--main-blue-color);
}

.new-game:disabled {
  background-color: var(--main-red-color);
}

.size {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 40.8rem;
  height: 40.8rem;
}

.win {
  background-size: 100%;
}

.win-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.8rem;
  height: 40.8rem;
  color: #fff;
  letter-spacing: .4rem;
  font-size: large;
  background-position: 100%;
  background-size: 100%;
  opacity: 0;
  text-align: center;
  transition: opacity .2s;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.cell {
  user-select: none;
  margin: .1rem;
  width: 10rem;
  height: 10rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: #fff;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  border-radius: .2rem;
}

.empty {
  background-image: none;
  background-color: transparent;
  color: transparent;
  text-shadow: none;
}

.menu {
  width: 40.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.settings {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.counters {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.score {
  padding-left: 0;
}
.score > li:not(:last-child) {
  margin-bottom: 1rem;
}

.score-list {
  display: none;

  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: var(--main-gray-color);
  opacity: 0.9;
  width: 40.8rem;
  height: 40.8rem;
  z-index: 10;
}

.score-list-on {
  display: flex;
}

.hide {
  background-image: none !important;
  color: transparent;
}

.hovered {
  background-color: #4f555e !important;
}

:disabled {
  color: #e8ded2;
  cursor: not-allowed !important;
}
